/* Variables */
$footer-gray: #DDDDDD;
$footer-dkgray: #777777;
$footer-link: white;

footer {
	margin-top: 20px;
	padding: 20px 0 0 0;
	background: $footer-gray;
}
#footer-nav {
	font-size: .8rem;
}
#main-footer {
	padding: 20px 0;
	background: $footer-dkgray;
	a {	
		color: $footer-link;
	}
}
#hero {
	margin-top: 20px;
}
.back-to {
	line-height: 70px;
}
.photograph {
	width: 100%;
	height: auto;
}
.euer {
	background: url(../images/euers-197x190.jpg) no-repeat;
	min-height: 150px;
}
.saustindent {
	background: url(../images/IMG_8774.jpg) no-repeat;
	background-size: 100%;
}